---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Página de Inicio"
const title = "Mi sitio Astro"
---

<BaseLayout pageTitle={pageTitle} title={title} >
	<h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>
